#watch-box { margin: 50px auto 100px; }
#watch-box #fifty-height {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 98vw;
}

#season-img {
    position: fixed;
    height: 52vh;
    width: auto;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
}

#box-container { padding: 7px; text-align: center; position: relative; background-color: var(--main-bg); }

.big-small-btn {
    background-color: var(--sec-color);
    color: var(--sec-bg);
    padding: 10px 20px;
    position: fixed;
    border: none;
    border-radius: 50px;
}
.big-small-btn span span { font-weight: bold; vertical-align: 30%; font-size: 16px; }
.big-small-btn #large { display: block; }
.big-small-btn #small { display: none; }
.big-small-btn.big #large { display: none; }
.big-small-btn.big #small { display: block; }

#box-container .frame { margin: 5px; display: inline-block; vertical-align: top; transition: linear 0.2s; }
#box-container .frame-big {
    background-color: var(--sec-bg);
    color: var(--sec-color);
    border-radius: 10px;
    margin: 12px;
}

#box-container .frame .img-watch-link { width: inherit; }
#box-container .frame .img-watch-link .img-frame { position: relative; width: inherit; }
#box-container .frame .img-frame img { width: inherit; }
#box-container .frame-big img { border-top-right-radius: 10px; border-top-left-radius: 10px; }

#box-container .frame .opt-frame { display: none; }
#box-container .frame-big .opt-frame { display: block; }

#box-container .frame .img-watch-link .small-title {
    display: block;
    text-align: left;
    margin: 7px auto 10px;
    color: var(--main-color);
}
#box-container .frame-big .img-watch-link .small-title { display: none; }

#box-container .frame-big .opt-frame span { vertical-align: 35%; }
#box-container .frame-big .opt-frame .sub-opt-frame { padding: 8px; border-bottom: 2px solid var(--main-bg); }
#box-container .frame-big .opt-frame .opt-watch .watch-link { color: var(--primary-color); }
#box-container .frame-big .opt-frame .opt-des p { display: none; text-align: left; }

@media only screen and (min-width: 651px) {
    #season-img { top: 5%; }
    .big-small-btn { bottom: 24px; right: 30px; }
    #box-container { max-width: 80vw; margin: 0 auto; text-align: center; }
    #box-container .frame .img-frame .grad-box-num { width: 30%; }
    #box-container .frame { width: 250px; }
}
@media only screen and (max-width: 650px) {
    #watch-box { margin: 0 auto 100px; }
    .big-small-btn { bottom: 70px; right: 18px; }
    #box-container .frame { width: 44vw; margin: 3px; margin-bottom: 15px; }
    #box-container .frame-big { width: 92vw; margin: 15px auto; }
    #box-container .frame .img-frame .grad-box-num { width: 40%; }
    #box-container .frame .img-frame .epi-num { bottom: 5%; font-size: 4vw; }
    #box-container .frame .img-watch-link .small-title { font-size: 3.3vw; }
}

#box-container .frame .img-frame .title { display: none; }
#box-container .frame-big .img-frame .title,
#box-container .frame .img-frame .epi-num { display: block; position: absolute; left: 5%; }
#box-container .frame-big .img-frame .title { bottom: 7%; text-align: left; max-width: 75%; }
#box-container .frame .img-frame .epi-num { bottom: 5%; }

#box-container .frame .img-frame .grad-box-num {
    position: absolute;
    left: 3px;
    bottom: 3px;
    height: 22%;
    background-color: var(--main-bg);
    filter: opacity(0.85);
}
#box-container .frame-big .img-frame .grad-box-num {
    border-bottom-right-radius: 10px;
    left: 0;
    top: 0;
    width: 76px;
    height: 34px;
}
#box-container .frame-big .img-frame .grad-box-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: inherit;
    height: 60%;
    background: linear-gradient(transparent, var(--sec-bg));
}

#box-container .frame-big .img-frame .epi-num { left: 3%; top: 5%; font-size: 1em; }
