*{ padding: 0; margin: 0; }
:root {
    --main-bg: #000000;
    --main-color: #e6e6e6;
    --sec-bg: #1a1a1a;
    --sec-color: #cccccc;
    --primary-color: #007bff;
    --success-color:#28a745;
    --warning-color:#ffc107;
    --danger-color:#dc3545;
    --primary-bg: #b8daff;
    --success-bg: #c3e6cb;
    --warning-bg: #ffeeba;
    --danger-bg: #f5c6cb;
}
html { background-color: var(--main-bg); color: var(--sec-color); }
a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}
.navbar {
    width: 100vw;
    position: fixed;
    left: 0;
    text-align: center;
    padding: 7px;
}
.nav-item { float: left; }
.nav-item a span { vertical-align: 40%; }
#watch-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    overflow: auto;
}
#watch-box .season-box {
    text-align: left;
    position: relative;
    display: inline-block;
    border-radius: 7px;
    margin: 10px;
}
#watch-box .season-box h2 { color: var(--sec-bg); }
#watch-box .season-box .season-img {
    position: absolute;
    bottom: 7px;
}
#watch-box .season-box .si-right { right: 5px; }
#watch-box .closebtn {
    display: block;
    background-color: var(--sec-bg);
    color: var(--sec-color);
    margin: 7px;
    padding: 10px;
    border-radius: 20px;
}
@media only screen and (min-width: 650px) {
    .navbar {
        top: 0;
        border-bottom: 1px solid var(--sec-bg);
    }
    .nav-item { width: 20%; }
    #watch-box { width: 70vw; }
    #watch-box .season-box { padding: 20px 100px 20px 10px; }
    #watch-box .season-box .season-img { width: 35px; }
    #watch-box .season-box .si-left { right: 45px; }
}
@media only screen and (max-width: 650px) {
    .navbar {
        bottom: 0;
        border-top: 1px solid var(--sec-bg);
    }
    .nav-item { width: 33%; }
    .nav-item a span {
        font-size: 3.5vw;
        display: block;
    }
    #watch-box { width: 98vw; }
    #watch-box .season-box { padding: 10px 30px 40px 8px; }
    #watch-box .season-box .season-img { width: 25px; }
    #watch-box .season-box .si-left { right: 35px; }
}